<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Untuk Keluargaku">
    <ng-template ngbPanelContent class="col-md-12">
        <label class="hoverable" for="fileInput">
          Silahkan klik gambar foto disamping kiri
          <div id="image" class="img-thumbnail io" style="width: 100%;">
          <img [src]="url ? url : './assets/images/unknown_person.png'" class="io" height="200px" width="200px">
          <img src="../assets/images/eid_landscape.jpg" class="io" height="200px" width="200px%"> 
          <!-- <div class="hover-text">Choose file</div> -->
          </div>
          <!-- <div class="background"></div> -->
        </label>
      <br/>
      <!-- <input class="form-control col-md-3" [(ngModel)]="input" (keyup)="onKeyUp($event)" style="margin-bottom: 25px;" placeholder="Ketikkan kata sesuatu disini"> -->
      <input id="fileInput" type='file' (change)="onSelectFile($event)" hidden>
      <button *ngIf="url" (click)="reset()" type="button" class="btn btn-secondary">Reset</button>
      <button *ngIf="url && button" type="button" class="btn btn-primary" (click)="download()">Download</button>
    </ng-template>
  </ngb-panel>
</ngb-accordion>