@media screen and (max-width: 460px) {
    .io {
      width: 140px; /* The width is 100%, when the viewport is 800px or smaller */
      text-align: center;
    }
}

@media screen and (max-width: 334px) {
    .io {
      width: 130px; /* The width is 100%, when the viewport is 800px or smaller */
      text-align: center;
    }
  }
  
@media screen and (max-width: 314px) {
    .io {
      width: 120px; /* The width is 100%, when the viewport is 800px or smaller */
      text-align: center;
    }
  }

@media screen and (max-width: 294px) {
    .io {
      width: 100px; /* The width is 100%, when the viewport is 800px or smaller */
      text-align: center;
    }
  }